.nav-item a {
    font-family: 'Proza Libre', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.countcard {
    height: 385px;
    background-color: #DBDBDB !important;
    border: none;
    color: #3764EB;
}

.countcard2 {
    height: 385px;
    background-color: #3764EB !important;
    border: none;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

.countcard3 {
    height: 385px;
    background-color: #AFAFAF !important;
    border: none;
}

.countcard i {
    color: #3764EB;
}

.countcard2 i {
    color: #000000;
}

.countcard3 i {
    color: #FFFFFF;
}

.countcard p {
    color: #3764EB;
    font-family: "Proza Libre", Sans-serif;
    font-weight: 600;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #EBEBEB;
    stroke: #EBEBEB;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    font-size: 69px !important;
}

.countcard2 p {
    color: #000000;
    font-family: "Proza Libre", Sans-serif;
    font-weight: 600;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #EBEBEB;
    stroke: #EBEBEB;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    font-size: 69px !important;
}

.countcard3 p {
    color: #FFFFFF;
    font-family: "Proza Libre", Sans-serif;
    font-weight: 600;
    -webkit-text-stroke-width: 0px;
    stroke-width: 0px;
    -webkit-text-stroke-color: #EBEBEB;
    stroke: #EBEBEB;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    font-size: 69px !important;
}

.countcard h3 {
    color: #3764EB;
    font-family: "Allerta Stencil", Sans-serif;
    font-size: 55px;
    font-weight: 500;
    text-transform: uppercase;
}

.countcard2 h3 {
    color: #000000;
    font-family: "Allerta Stencil", Sans-serif;
    font-size: 55px;
    font-weight: 500;
    text-transform: uppercase;
}

.countcard3 h3 {
    color: #FFFFFF;
    font-family: "Allerta Stencil", Sans-serif;
    font-size: 55px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-top {
    background: #FEE100;
}

.pageh1 {
    color: #5E5E5E;
    font-family: "Proza Libre", Sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.pageh2 {
    color: #5E5E5E;
    font-family: "Proza Libre", Sans-serif;
    font-size: 26px;
    font-weight: 500;
}

.section4 h1 {
    font-family: "Proza Libre", Sans-serif;
    font-size: 29px;
    font-weight: 500;
    color: #3764EB;
}

.section4 p {
    color: #7A7A7A;
    font-size: 20px;
    text-align: justify
}

.section4 h5 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #7A7A7A;
}

.section4 .slider-section4 {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 0px 0px 0px 80px;
}

.section4 .slider-progress {
    color: #4D4D4D;
    font-family: "Proza Libre", Sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.news li {
    font-weight: bold;
    font-size: 17px;
    text-decoration: underline;
}

.section2 p {
    font-size: 16px;
    font-weight: 400;
    color: #7A7A7A;
    text-align: justify;
}

.section2 h5 {
    font-size: 20px;
    font-weight: 700;
    color: #7A7A7A;
}

.section2 a {
    display: inline-block;
    line-height: 1;
    background-color: #3764EB;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: all .3s;
    text-decoration: none;
}

.section2 i,
h2 {
    color: #3764EB;
}

.social i {
    border: 1px solid #DDD;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 50% 50% 50% 50%;
    padding: 0px 0px 0px 0px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
}

.form-email {
    border-radius: 25px 25px 25px 25px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #273171;
    padding: 13px 10px 13px 20px;
}
.tile-primary {
    background-color: #3764EB;
}
.tile {
    margin-bottom: 15px;
    border-radius: 3px;
    color: #FFFFFF;
    transition: all 1s;
}
.tile h2{
    font-size: 40px;
    color:#FFFFFF;
}
.tile i{
   font-size: 50px;
}
.tile-heading {
    padding: 5px 8px;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    background-color: rgba(255,255,255,0.1);
}
.tile-body {
    padding: 15px;
    color: #FFFFFF;
    line-height: 48px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.tile-footer {
    padding: 5px 8px;
    background-color: rgba(0,0,0,0.1);
}